{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h1>Delete Post</h1>
            <p>Вы уверены, что хотите удалить этот пост "{{ object.title }}"?</p>
            <form method="post">
        {% csrf_token %}
          <input type="submit" value="Delete">
          </form>
    <a href="{% url 'post_detail' object.pk %}">Отмена</a>
                
            </div>
        </div>
    </div>
{% endblock %}