
{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5"> <!-- Добавлен класс "container" с верхним отступом "mt-5" -->
    <div class="row justify-content-center"> <!-- Добавлен класс "row" для центрирования контента -->
        <div class="col-md-8"> <!-- Добавлен класс "col-md-8" для определения ширины контента -->
            <h2>New post</h2>
            <form method="post" enctype="multipart/form-data" class="my-form">
                {% csrf_token %}
                {{ form|crispy }}
                
                {% comment %} {% if form.instance.image %}
                    <img src="{{ form.instance.image.url }}" alt="Uploaded Image" style="max-width: 100%;">
                {% endif %} {% endcomment %}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            
        </div>
    </div>
</div>
{% endblock %}

