{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {% comment %} {% for post in posts %} {% endcomment %}
                {% for post in post_list %}
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="{% url 'post_detail' pk=post.pk %}">
                            <h2 class="post-title">{{ post.title }}</h2>
                        </a>
                        <p class="post-meta">Published on {{ post.published_date }}</p>
                        <p class="post-subtitle">{{ post.text|truncatechars:200 }}</p> <!-- Отображение только первых 200 символов текста -->
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                {% endfor %}
                
            </div>
        </div>
    </div>
{% endblock %}


    
    